.freelanceCardContainer {
  background-color: var(--text-lightGrey);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  align-items: center;
  text-align: center;
  transition: 0.2s;

  font-size: 12px;
  color: var(--text-grey);
}

.freelanceCardContainer:hover {
  background-color: var(--color-pink);
  color: white;
}
.freelanceCardContainer:hover .nameTitle {
  color: white;
}
.nameTitle {
  font-size: 16px;
  font-weight: 700;
  color: black;
  transition: 0.2s;
}
