.san__navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  position: fixed;
  z-index: 4;

  padding: 15px 4rem;
  padding-top: 2rem;
}

.gradNavBG {
  background: -webkit-linear-gradient(#055674ab, transparent);
}

.solidNavBG {
  background-color: var(--color-pink);
}

/* DROPDOWN */

.dropItem {
  margin-top: 4%;
  color: var(--text-white);
  transition: 0.2s;
  width: 100%;
  text-align: center;
}

.dropItem:hover {
  transform: scale(1.1);
  font-weight: 800;
}

.san__navbar-links_container:hover .dropContainer--animated {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.dropContainer--animated {
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  background-color: var(--color-pink);
  position: absolute;
  top: 135px;
  display: none;
  box-shadow: 0 10px 10px rgba(10, 10, 10, 0.185);
}

@keyframes growDown {
  0% {
    transform: rotateX("-90deg");
  }
  70% {
    transform: rotateX("20deg");
  }
  100% {
    transform: rotateX("0deg");
  }
}

/* REST OF DESIGN */
.san__navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.san__navbar-links_logo {
  margin-right: 2rem;
  box-shadow: 0 0 2 black;
}

.san__navbar-links2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.san__navbar-links_container {
  /* position: relative; */
  display: flex;
  height: 50%;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
}

.san__navbar-links_container p {
  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;

  margin: 0 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.san__navbar-links_container:hover .titlePara {
  color: var(--color-pink);
  transform: translateY(-5px);
  text-shadow: 0 0 10px var(--color-pink);
}
.san__navbar-links_container:hover .transp {
  transform: translateY(-5px);
  text-shadow: 0 0 10px white;
}

.underlineNavbar {
  background-color: var(--color-pink);
  height: 3px;
  width: 60px;
  position: absolute;
  bottom: 20px;
  transform: scaleX(0);
  transition: 0.5s;
  text-shadow: 0 0 100px var(--color-pink);
}
.whiteMaker {
  color: white;
  background-color: white;
}
.transp {
  background-color: transparent;
}
.san__navbar-links_container:hover .underlineNavbar {
  text-shadow: 0 0 100px var(--color-pink);
  transform: scaleX(1);
}

@media (max-width: 850px) {
  .san__navbar-links_container {
    display: none;
  }
}

.connectCTA {
  background-color: white;
  text-align: center;
  align-self: flex-end;
  border-radius: 10px;
}
.connectArrowNavbar {
  fill: rgb(255, 255, 255);
  transform: rotate(180deg);
  transition: 0.5s;
}
.nofill:hover {
  background-color: transparent;
}
.nofill:hover .connectArrowNavbar {
  /* transform: rotate(180deg) scale(1.5); */
  animation: rotateArrowSendAnim 2s ease-in-out infinite;
}

@keyframes rotateArrowSendAnim {
  0% {
    transform: rotate(180deg);
  }
  5% {
    transform: rotate(170deg);
  }
  15% {
    transform: rotate(185deg);
  }
  20% {
    transform: rotate(175deg) translateX(0px);
  }
  30% {
    transform: rotate(190deg) translateX(10px);
  }
  40% {
    transform: rotate(180deg) translateX(10px);
  }
  48% {
    transform: rotate(180deg) translateX(-90px);
  }
  48.01% {
    transform: rotate(180deg) translateX(90px);
  }
  50% {
    transform: rotate(180deg) translateX(10px);
  }
  55% {
    transform: rotate(180deg) translateX(5px);
  }
  70% {
    transform: rotate(180deg) translateX(0px);
  }
}
