.slideWrapper {
  background-color: var(--text-lightGrey);
  height: 60px;
  width: 300px;
  border-radius: 60px;
  justify-self: center;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  box-shadow: inset 0 0 20px rgba(202, 100, 148, 0.13);
}

.wrapperSlided {
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
  background-color: var(--color-pink);
}

.slideDot {
  transition: 0.2s;
  background-color: var(--color-pink);
  height: 60px;
  width: 60px;
  border-radius: 60px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.26);
  align-items: center;
  justify-content: center;
}
.dotSlided {
  background-color: var(--text-lightGrey);
  transform: translateX(400%);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.116);
}

.optionsText {
  position: absolute;
  text-align: center;
  left: 40%;
  top: 32%;
  color: var(--color-pink);
}
.whiteText {
  color: white;
}
.arrow {
  color: white;
  transition: 0.3s;
  font-weight: normal;
  font-size: 50px;
}

.arrowSlided {
  color: var(--color-pink);
  transform: scaleX(-1);
}
